# .github/workflows/docker-publish.yml

name: Docker Publish to Docker Hub

# Déclenchement à la création d'une nouvelle Release (tag de version)
on:
  release:
    types: [published]

# Variables pour le nom de l'image
env:
  # ATTENTION : Utilisez votre identifiant Docker Hub ici
  DOCKER_REPO: dada3004/ci-cd-html-form 

jobs:
  push_to_docker_hub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        # Utilise les Secrets configurés sur GitHub
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.DOCKER_REPO }}
        tags: |
          type=semver,pattern={{version}} # Tag avec le numéro de la release
          type=raw,value=latest # Tag aussi avec latest
          
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}